<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697909349857-cc6pr1u3vn38k1j93r0vn2d7imfdnoit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697909349857-cc6pr1u3vn38k1j93r0vn2d7imfdnoit</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>697909349857-31kdbof1642b2oluq75n3arvf1b5ppug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmHf38TLXXKBJjvLiubK1Ke4Ae-LTxFQk</string>
	<key>GCM_SENDER_ID</key>
	<string>697909349857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.hashbangs.nudgevaccines</string>
	<key>PROJECT_ID</key>
	<string>nudgevaccines</string>
	<key>STORAGE_BUCKET</key>
	<string>nudgevaccines.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697909349857:ios:d9b197c2ffd0d835cd16a0</string>
	<key>DATABASE_URL</key>
	<string>https://nudgevaccines.firebaseio.com</string>
</dict>
</plist>